<!DOCTYPE html>
<html>
  <head>
    <title>AvbOktaOkta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'styling' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

  <body>
  <div class="ui inverted red menu">
  <a class="red item"><h1>{Okta} + Rails</h1></a>
  <div class="right menu">
  <div class="item">
    <% if !session[:oktastate] %>
    <%= link_to "Sign In Or Sign Up", user_oktaoauth_omniauth_authorize_path %>
    <% else %>
    <%= link_to "App Dashboard", user_oktaoauth_omniauth_authorize_path, class: "item"%>
   <%= link_to session[:oktastate][:info][:name], user_oktaoauth_omniauth_authorize_path, class: "item" %>
   <%= link_to "Cats", cats_path, class: "item" %>
    <%= link_to "logout", logout_path , class: "item" %>
    <% end %>
  </div>
</div>
</div>
    <%= yield %>
  </body>
</html>
